<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your stream is ready for <%= @eca.event.name %></h1>

<p>
<%= @eca.event.name %> will be streamed on the <a target="_blank" href="https://twitch.tv/<%= @eca.twitch_channel.name %>"><%= @eca.twitch_channel.name %></a>
  Twitch channel.
</p>

<p>
The stream key for this event is <code><%= @stream_key %></code><br/>  You can use this key
in OBS, or any other streaming software of your choosing.  This key is valid from <%= @eca.start_date %> to <%= @eca.end_date %>.
</p>
</body>
